#header{
	background-color: #000000;
	height: 125px;
	width: 100%;
	overflow: hidden;
}
#header .headerCarImage { width: 310px; height: 121px; margin-top: 25px; float: left; }
#title_wrapper{
	float:left;
	width: 714px;
	height: 121px;
}
#timos{
	position: absolute;	
}
#detailing{
	position: absolute;
	top: 62;
}