#header{
	background-color: #000000;
	height: 125px;
	width: 100%;
}
#header .headerCarImage { width: 310px; height: 121px; margin-top: 25px; }
#timosImage{
	width:30%; 
	height:100;
	float:left;
}
#title_wrapper{
	margin-top: 10px;
	float:left;
	width:70%;
	height:100%;
}
#timos{
	text-align: center;
	margin:0;
}
#detailing{
	text-align: center;
}