html * {
	font-family: Arial !important;
}

body {
	margin: 0;
	background-color: #D8D8D2;
}

h1 {
	margin: 0;
}

h3 {
	padding: 4px 0px 4px 0px;
	margin: 0
}

p {
	padding: 4px 0px 4px 0px;
	margin: 0
}

hr {
	box-shadow: 0px 0px 10px #888888;
}

a {
	color: inherit;
	text-decoration: inherit;
}

#page_wrapper {
	margin: 0px auto;
}

#page_wrapper,#header,#footer,#main_section {
	width: 1024px;
}

#header,#footer,#main_section {
	float: left;
}

#main_section {
	box-shadow: 0px 0px 10px #888888;
	width: 98%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}

#mainInfo {
	padding: 40px 40px 40px 40px;
}

#isMobileDevice {
	float: left;
	background-color: red;
	color: white;
	width: 100%;
}

.mobileOnly {
	display: none;
}

#page_content {
	float: left;
}

#nav {
	float: left;
	width: 100%;
	border-bottom-style: solid;
}

#nav .navItem {
	float: left;
	margin: auto;
	width: 33%;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

#nav .navItem :first-child {
	width: 34%;
}

#slider-content div div {
	float: left;
	width: 44%;
	padding: 40px 40px 40px 20px;
}

#slider {
	overflow: hidden;
}

#slider-content {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.slide {
	float: left;
}

#slider-content div img {
	float: left;
	width: 44%;
	padding: 40px 20px 40px 40px;
}